/* CSS Document */
body{
background-image:url(../img/bg.jpg);
background-attachment:fixed;
background-repeat:repeat;
}


TH {
background-color:#999999;
border-width: 1px ;
border-style:solid;
border-color :black ;
text-decoration:bold;
}


#container{
margin-top:2%;
margin-left:17%;
margin-right:17%;
margin-bottom:auto;
background-color:white;

-moz-box-shadow: 0 0 5px 5px black;
-webkit-box-shadow: 0 0 5px 5px black;
box-shadow: 0 0 5px 5px blcak;
height:auto;
}

.header{
background-color:white;
margin-top:15px;

padding-bottom:20px;
padding-left:40px;
padding-right:40px;

}

.conten{
background-color:white;
height:auto;
margin-left:5%;
margin-right:5%;
}

#footer{
margin-top:100px;
margin-bottom:20px;
color:black;
height:inherit;
text-indent:40px;

}


p {color:#000000;
font-family:"Times New Roman", Times, serif;
font-size:16px;
padding-left:40px;
padding-right:40px;
text-align:justify;
text-indent:40px;
}

.dropmenu {
    background:black;
    height: 30px;
    list-style-type:katakana;
	margin-left:20px;
	margin-right:20px;
    padding: 0px;
}
.dropmenu li {
    border-right: solid 1px navy;
    float: left;
    height: 30px;
}
.dropmenu li a {
    color: #fff;
    display: block;
    font: 12px arial, verdana, sans-serif;
    font-weight: bold;
    padding: 9px 20px;
    text-decoration: none;
}
.dropmenu li:hover { background: black; position: relative; }
.dropmenu li:hover a { text-decoration: underline; }
.dropmenu li:hover ul {
    background-color: black;
    border: 1px solid navy;
    left: 0px;
    padding: 3px;
    top: 30px;
    width: 160px;
}
.dropmenu li:hover ul li { border: navy; height: 18px; }
.dropmenu li:hover ul li a {
    background-color: black;
    border: 1px solid navy;
    color: #fff;
    display: block;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    padding: 0px;
    text-decoration: none;
    text-indent: 5px;
    width: 158px;
    padding: 3px;
}
.dropmenu li:hover ul li a:hover {
    background: blue;
    border: solid 1px navy;
    color: white;
    height: 18px;
    padding: 3px;
}
.dropmenu ul {
    left: -9999px;
    list-style-type: none;
    position: absolute;
    top: -9999px;
}

#trans{
-moz-box-shadow: 0 0 3px 3px white;
-webkit-box-shadow: 0 0 3px 3px hwite;
box-shadow: 0 0 3px 3px white;
}


#navigation {
padding-top:25px;
	width:100%;
	text-align:center;
	font-family:Algerian;
	font-size:18px;
	}
	
	
	
	
/* Make row highlighted */
.highlighted-row table tr:nth-hasil(1) {
background:#cc3333; /* red */
color:#fff;
}
	
	
	
a:link{color:black;
		text-decoration:blink;}
a:visited{color:black;
		text-decoration:blink;}
a:hover{color:blue;
		text-decoration:blink;}
a:active{color:cyan;
		text-decoration:blink;}