/* CSS Document */
.lap{
margin-top:5%;
margin-left:5%;
margin-right:5%;
margin-bottom:5%;
}

TH{
color:#000000;
background-color:#CCCCCC;
border-width: 1px ;
border-style:solid;
border-color :black;
;